<!DOCTYPE html>

<style>
    body {
        margin: 0 20% 0 20%;

        padding-top: 100px;
    }

    .NavbarTop ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;

      max-width: 60%;
      min-width: 800px;
      
      position: fixed; 
      top: 0;
      width: 100%;
      /*z index keeps element above others*/
      z-index: 10000;

    }

    .NavbarTop li {
      float: left;
    }

    .NavbarTop li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .NavbarTop li a:hover {
      background-color: red;
    }

    .NavbarTop li a.active {
      background-color: grey;
    }

</style>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="NavbarTop">
        <ul>
            <li><a class="active" href="@Url.Action("Index", "Home")" >Home</a></li>
            <li><a href="@Url.Action("Index", "Home")">News</a></li>
            <li><a href="@Url.Action("Index", "Home")">Contact</a></li>
            <li><a href="@Url.Action("Index", "Home")">About</a></li>
        </ul>
    </div>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mike Elias</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>